* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #D9D9D9;
  font-family: 'Open Sans', sans-serif;
}

#header {
  background: linear-gradient(90deg, #4DD2D2 0%, #092331 100%);
  width: 100%;
  display: block;
}

.container {
  max-width: 1410px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 120px;
}

.logo {
  padding: 10px 0;
}

/* Menu */

.menu nav a {
  color: #FFF;
  font-size: 22px;
  padding: 10px 20px;
  text-decoration: none;
}

.menu-toggle {
  display: none;
}

.menu-toggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
}

@media only screen and (max-width: 768px) {
  .menu nav {
    display: none;
  }
  .menu {
    width: 100%;
  }
  .active nav {
    display: flex !important;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
  }
  .menu-toggle {
    display: block;
  }
}

/* Grade de funcionários */

.employee-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));;
  grid-gap: 30px;
}

.employee-card {
  padding: 28px 34px;
  display: flex;
  align-items: center;
  box-shadow:  0 4px 8px #00000020;
  background-color: #F0F1EF;
  position: relative;
  cursor: pointer;
}
.employee-photo{
  position: relative;
}
.employee-photo img{
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
}
.employee-photo .badge{
  color: #092331;
  background-color: #4DD2D2;
  font-weight: bold;
  font-size: 24px;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.employee-card .details{
  padding: 0 20px;
}
.details .name{
  font-weight: bold;
  font-size: 24px;
  color: #092432;
}
.details .role{
  font-weight: 300;
  font-size: 20px;
  color: #707070

}
.employee-card{
  transition: background .5s;
}

.employee-card.active{
  background: #002B50;
  color: #fff  !important;
}
.employee-card.active .details .name, .employee-card.active .details .role{
color: #fff;
}

.employee-details{
  margin:2rem 0;
  transform-style: preserve-3d;

}


.details-info{
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-columns: 120px auto;
  grid-gap: 10px 10px;
}
.details-info p{
  align-self: center;
  justify-self: end;
  font-weight: 300;
  font-size: 20px;
  /* padding: 0 12px; */
  color: #707070;

}
.details-info .name, .details-info .role, .details-info .age {
  color:#092432;
  font-size: 24px;
  font-weight: bold;
  
}
/* Animação do card */
.animate-card{
  animation-name: flip ;
  animation-play-state:running;
  animation-iteration-count:initial;
  animation-duration: .5s;
}

@keyframes flip {
  0% {transform: rotateX(0deg);}
  50% {transform: rotateX(90deg);}
  100% {transform: rotateX(0deg);}

}

/* Ajusta algumas margens no mobile */

@media only screen and (max-width: 768px) {
  .employee-details .employee-card {
      flex-direction: column;
      
  }
  .details-info{
    grid-template-columns: 80px auto;
  }
  .employee-card {
    padding: 20px;
  }
} 

