* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #D9D9D9;
  font-family: 'Open Sans', sans-serif;
}

#header {
  background: linear-gradient(90deg, #4DD2D2 0%, #092331 100%);
  width: 100%;
  display: block;
}

.container {
  max-width: 1410px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  padding: 10px 0;
}

/* Menu */

.menu nav a {
  color: #FFF;
  font-size: 22px;
  padding: 10px 15px;
  text-decoration: none;
}

.menu-toggle {
  display: none;
}

.menu-toggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
}

@media only screen and (max-width: 768px) {
  .menu nav {
    display: none;
  }
  .menu {
    width: 100%;
  }
  .active nav {
    display: flex !important;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
  }
  .menu-toggle {
    display: block;
  }
}

/* Main */

.employee-grid {
  padding: 4rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.employee-card {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  align-items: center;
  box-shadow:  0 4px 8px #00000020;
  background-color: #F0F1EF;
  position: relative;
}
.employee-photo{
  position: relative;
}
.employee-photo img{
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
}
.employee-photo .badge{
  color: #092331;
  background-color: #4DD2D2;
  font-weight: bold;
  font-size: 24px;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.employee-details{
  padding: 0 1rem;
}
.employee-details .name{
  font-weight: bold;
  font-size: 24px;
  color: #092432;
}
.employee-details .role{
  font-weight: 300;
  font-size: 20px;
  color: #707070
}
